@keyframes left {
  0% {
    left: -125px;
  }
  100% {
    left: -360px;
  }
}
@keyframes right {
  0% {
    left: -360px;
  }
  100% {
    left: -125px;
  }
}
header {
  letter-spacing: 10px;
}
#tool {
  transform: scale(0.5);
  position: fixed;
  left: -125px;
  bottom: 10px;
}
